<div class="row">
    <div class="search-panel">
        <div class="row">
            <h4>Article Setting:</h4>
            <hr/>
            <div class="form-horizontal">
                <div class="row">
                   <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label required">Find Article</label>

                            <div class="col-md-8">
                                <input type="text" name="place" class="form-control" placeholder="Enter article title" ng-model="searchFilter">
                            </div>
                            <button class="btn btn-md btn-warning col-md-1" ng-click="clearInput()">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label required">Category</label>

                            <div class="col-md-9">
                                <select class="form-control" ng-model="categoryFilter">
                                    <option></option>
                                    <option ng-repeat="category in Categories">{{ category.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="table-responsive" ng-init="limit=5">
            <table class="table table-striped">
                 <thead>
                      <tr>
                         <th> Article Title </th>
                         <th> Article Content </th>
                         <th> Source </th>
                         <th> Action </th>
                      </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="article in ManageArticles | filter : searchFilter | filter : categoryFilter | limitTo: limit as results">
                        <td> {{ article.title }} </td>
                        <td> {{ article.description }} </td>
                        <td> {{ article.source }} </td>
                        <td> <button class="btn btn-xs btn-danger" ng-click="deleteNews(article.id)"><i class="fa fa-trash-o fa-2x"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <button 
        class="show-more btn btn-danger center-block" 
        ng-hide="results.length===ManageArticles.length || results.length===0" 
        ng-click="limit=limit+5"> Show more 
        </button>
    </div>  
</div> 
