<div class="row">

<div class="search-panel">
    <div class="row">
        <h4>Manage Users:</h4>
            <hr/>
            <div class="form-horizontal">
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label required">Find User</label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter article title" ng-model="searchFilter">
                                </div>
                                <button class="btn btn-md btn-warning col-md-1" ng-click="clearInput()">
                                    <i class="fa fa-eraser" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label required">Category</label>

                                <div class="col-md-9">
                                    <select class="form-control" ng-model="categoryFilter">
                                        <option></option>
                                        <option ng-repeat="category in Categories">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
    </div>
</div>

<div class="block">
    <div class="table-responsive">
        <table class="table table-striped">
             <thead>
                  <tr>
                     <th> User login </th>
                     <th> User email </th>
                     <th> User Categories </th>
                     <th> Action </th>
                  </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ManageUsers | filter : searchFilter | filter: categoryFilter">
                    <td> {{ user.login }} </td>
                    <td> {{ user.email }} </td>
                    <td>  
                        <div class="btn-group">
                        <button 
                        type="button" 
                        class="btn btn-primary dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        See more <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in user.categories"> {{ item.name }} </li>
                        </ul>
                        </div>
                    </td>
                    <td> <button class="btn btn-xs btn-danger" ng-click="deleteUsers(user.id)"><i class="fa fa-trash-o fa-2x"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>  

</div> 