<div class="row">
	<div class="container-fluid">
		<div class="search-panel">
			<button class="btn btn-warning btn-md" ng-click="backTo()"><span class="glyphicon glyphicon-arrow-left"></span> BACK</button>
		</div>
		   
		<article class="message-panel container-fluid">
			<span class="news-date"> {{ article.publish_date }} </span>
			<button 
				class="btn btn-success btn-sm" 
				ng-click="like()"
				ng-disabled="article.voted==true">
				<span class="glyphicon glyphicon-thumbs-up"></span> Like
			</button>

			<button
				class="btn btn-danger btn-sm" 
				ng-click="dislike()"
				ng-disabled="article.voted==false">
				<span class="glyphicon glyphicon-thumbs-down"></span> Dislike
			</button>
			<h2 class="news-title"> {{ article.title }} </h2>
			<hr/>
			<img class="news-img img-responsive" align="left" ng-src="{{ article.image_url }}" />
			<p id="news-content">{{ article.text }}</p> 
			<hr class="clearfix" />
			<span class="pull-right"> <b>Source: {{ article.source }}</b> </span>
            
            <canvas id="c"></canvas>
            
		</article>
	</div>
</div>