<div class="row">
  <div class="search-panel">
    <div class="row">
      <h4>Find interesting article:</h4>
      <hr/>
      <div class="form-horizontal">
        <div class="row">
           <div class="col-md-6">
              <div class="form-group">
                  <label class="col-md-3 control-label required">Find Article</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter article title" ng-model="searchFilter">
                  </div>
                  <button class="btn btn-md btn-warning col-md-1" ng-click="clearInput()">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                  </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-3 control-label required">Category</label>
                  <div class="col-md-9">
                    <select class="form-control" ng-model="categoryFilter">
                      <option></option>
                      <option ng-repeat="category in topCategories">{{ category.name }}</option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div>
  <article class="message-panel container-fluid" ng-repeat="news in topNews | filter : searchFilter | filter: categoryFilter">
    <span class="news-date"> {{ news.publish_date }} </span>
    <h5 id="news-title"> {{ news.title }} </h5>
    <hr/>
    <img class="img-responsive col-md-2" ng-src="{{ news.image_url }}">
    <span id="news-content" class="col-md-9"> {{ news.description }} </span>
    <a ui-sref="article({ articleId: news.id })"><button class="btn btn-info col-md-1 pull-right" ng-click="saveValue()">View</button></a>
  </article>
</div>