<div class="row">
    <div class="search-panel">
        <div class="row">
            <h4>Find interesting article</h4>
            <hr/>
            <div class="form-horizontal">
                <div class="row">
                   <div class="col-md-6">
                    <div class="form-group">
                            <label class="col-md-3 control-label required">Find Article</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter article title" ng-model="searchFilter">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label required">Category</label>
                            <div class="col-md-9">
                                <select class="form-control" >
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Article Title </th>
                        <th> Article Content </th>
                        <th> Author </th>
                        <th> Source </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="article in articleData | filter : searchFilter">
                        <td> {{ article.id }} </td>
                        <td> {{ article.title }} </td>
                        <td> {{ article.content }} </td>
                        <td> {{ article.author }} </td>
                        <td> {{ article.source }} </td>
                        <td> <button class="btn btn-xs btn-success"><i class="fa fa-thumbs-up"></i></button> 
                        <button class="btn btn-xs btn-danger"><i class="fa fa-thumbs-down"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>  
</div> 