@import url(http://fonts.googleapis.com/css?family=Wellfleet&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Wellfleet&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,latin-ext);
.center-login {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0; }

.signup {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  max-width: 400px;
  padding: 20px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid #c4c4c4;
  border-radius: 3px; }

.signup-title {
  margin: -25px -25px 20px;
  padding: 25px 0;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #848484;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7; }
  .signup-title:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); }

p {
  margin-bottom: 50px;
  color: #8e8e8e; }

.input-group {
  margin-bottom: 10px;
  width: 100%; }

.alert-danger {
  display: block; }

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-control {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px 2px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0; }

.signup-button, .signup-button2 {
  position: relative;
  margin: 20px auto;
  width: 49%;
  height: 54px;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-bottom: 1px solid #d76b60;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d76b60;
  box-shadow: inset 0 -2px #d76b60; }
  .signup-button:active, .signup-button2:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.signup-button2 {
  background: #62cbe4;
  -webkit-box-shadow: inset 0 -2px #39A6C0;
  box-shadow: inset 0 -2px #39A6C0;
  border-bottom: 1px solid #39A6C0; }

#wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.semifluid-layout {
  position: fixed;
  width: 280px;
  height: 100%; }

#sidebar {
  background: #444e69;
  width: 280px;
  z-index: 2;
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 200px; }
  #sidebar .sidebar-logo {
    background: #ffd164;
    padding: 20px 25px;
    display: block;
    height: 64px; }
    #sidebar .sidebar-logo a {
      margin: 10px auto;
      color: #ca8e00; }
      #sidebar .sidebar-logo a:hover {
        text-decoration: none; }
  #sidebar .sidebar-navigation > ul {
    margin: 0 0 0 0;
    padding: 0; }
    #sidebar .sidebar-navigation > ul li {
      position: relative;
      list-style-type: none; }
  #sidebar .sidebar-navigation ul li a {
    display: block;
    padding: 16px 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    transition: color 250ms ease; }
    #sidebar .sidebar-navigation ul li a .fa {
      text-align: center;
      width: 20px;
      font-size: 14px;
      margin-right: 7px; }
    #sidebar .sidebar-navigation ul li a span {
      display: inline-block; }
  #sidebar .sidebar-navigation > ul > li > a:hover, #sidebar .sidebar-navigation > ul > li:active, #sidebar .sidebar-navigation > ul > li:visited {
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #FFF; }
  #sidebar .sidebar-navigation > ul > li.parent > a {
    border-left: 0; }
  #sidebar .sidebar-copyrights {
    position: absolute;
    text-align: center;
    bottom: 0;
    color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    width: 100%;
    font-size: 10px; }
  #sidebar .sidebar-navigation li.parent a span::after {
    position: absolute;
    right: 20px;
    content: "\f105";
    font-family: FontAwesome; }
  #sidebar .sidebar-navigation li.parent.open span::after {
    content: "\f107";
    border-right: 0; }

main {
  overflow: hidden; }
  main .notify {
    background: #FFF;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 100%; }
    main .notify .notification-label {
      color: #ffffff;
      font-size: 16px;
      padding: 0 10px;
      line-height: 60px;
      height: 60px;
      margin: 0;
      background: #ff865c;
      text-align: center; }
    main .notify .alert {
      margin: 20px 20px;
      text-align: center;
      background: #cccccc;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 0;
      background: #F5F5F5; }
      main .notify .alert i {
        margin: 5px auto;
        color: #ff865c; }
      main .notify .alert hr {
        height: 1px;
        background: #cccccc; }

.table-responsive {
  overflow: visible; }

.open > .dropdown-menu {
  padding: 10px;
  min-width: 100%; }

.show-more {
  margin-bottom: 20px; }

.search-panel {
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6; }

h4 {
  color: rgba(0, 0, 0, 0.6); }

.message-board {
  backgorund: #fff;
  border-bottom: 1px solid #e6e6e6; }

.message-panel {
  position: relative;
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6; }
  .message-panel .news-id {
    color: #ffd164; }
  .message-panel .news-title {
    margin-top: 10px; }
  .message-panel .news-img {
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 350px; }
  .message-panel .news-date {
    position: absolute;
    top: 20px;
    right: 30px; }
  .message-panel #news-content {
    text-align: justify; }
  .message-panel h2 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold; }
  .message-panel a {
    color: rgba(0, 0, 0, 0.6); }
    .message-panel a:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6); }

.AddNewsPanelInner {
  background: #ffffff;
  width: 90%;
  margin: 40px auto;
  padding: 0px 20px;
  border: 1px solid #cccccc; }

h4 {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 30px; }

td {
    text-align: justify;
}

button {
  margin-bottom: 10px; }

.block {
  background: #fff;
  padding: 20px;
  margin: 20px; }

.addUserPanel {
  background: #fff;
  padding: 10px 15px;
  margin: 20px 0 0 20px; }

body {
  background-color: #f5f5f5; }

.center-register {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0; }

.register {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  max-width: 400px;
  padding: 20px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid #c4c4c4;
  border-radius: 3px; }

.register-title {
  margin: -25px -25px 20px;
  padding: 25px 0;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #848484;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7; }
  .register-title:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); }

p.text-center {
  margin-bottom: 20px;
  color: #8e8e8e; }

a, a:hover {
  text-decoration: none;
  color: #fff; }

.input-group {
  margin-bottom: 10px;
  width: 100%; }

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-control {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px 2px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0; }

.signup-button, .signup-button2 {
  position: relative;
  margin: 0 auto;
  width: 49%;
  height: 54px;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-bottom: 1px solid #d76b60;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d76b60;
  box-shadow: inset 0 -2px #d76b60; }
  .signup-button:active, .signup-button2:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.signup-button2 {
  background: #62cbe4;
  position: relative;
  margin: 0 auto;
  width: 49%;
  height: 54px;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #5bbbd1;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5bbbd1;
  box-shadow: inset 0 -2px #5bbbd1; }
  .signup-button2:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.checkbox label {
  font: 16px 'Helvetica Neue', sans-serif; }

.hello-panel {
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6; }

.change-panel {
  padding-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6; }

h2, p {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f5f5f5; }
  body .col-md-9 {
    padding: 0px 30px; }
