.AddNewsPanelInner {
  background: #ffffff;
  width: 90%;
  margin: 40px auto;
  padding: 0px 20px;
  border: 1px solid #cccccc; }

h4 {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 30px; }

button {
  margin-bottom: 10px; }

.block {
  background: #fff;
  padding: 20px;
  margin: 20px; }

td {
    text-align: justify;
}